<div class="poster" style="margin: 70px 0;">
      <div class="inline vote">
        <%= link_to post_vote_path(p), remote: :true, method: :post do %>
        <%= fa_icon("caret-up") %></br>
         <span id="<%=p.id%>-vote" > <%= p.votes.count %> </span>
        <% end %> 
      </div>
      <div class="body">
      <b><%= simple_format(p.body) %></b>
      </div>
      <div class="share" style="text-align: right;">
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="If I won the lottery, this is how I would spend that money." data-hashtags="LottoIdeas">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>